/AndoridServer/dist/*.*
/AndoridServer/nbproject/private/*.*
/AndoridServer/build/*.*
/AndoridServer/nbbuild/*.*
/AndoridServer/nbdist/*.*
/AndoridServer/nbactions.xml
.nb-gradle/*.*
*.class
**.class

TheLastStop/.idea/
TheLastStop/.idea/*.*
TheLastStop/.idea/runConfigurations.xml

TheLastStop/.idea/modules.xml

TheLastStop/.idea/runConfigurations.xml

TheLastStop/.idea/modules.xml
