<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laststop.thelaststop">

    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".linee"
            android:label="@string/title_activity_linee"
            android:parentActivityName=".Main"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.laststop.thelaststop.Main" />
        </activity>
        <activity
            android:name=".orari"
            android:label="@string/title_activity_orari"
            android:parentActivityName=".fermate"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.laststop.thelaststop.fermate" />
        </activity>
        <activity
            android:name=".segnalazione"
            android:label="@string/title_activity_segnalazione"
            android:parentActivityName=".orari">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.laststop.thelaststop.orari" />
        </activity>
        <activity
            android:name=".fermate"
            android:label="@string/title_activity_fermate"
            android:parentActivityName=".linee">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.laststop.thelaststop.linee" />
        </activity>
    </application>

</manifest>
